<div class="col-md-5" id='start'>
  <p>
    MEMORY <br> GAME
  </p>
  <div class="external-author">
    <p>Original design from @FelixRilling</p>
  </div>
</div>

<div class="col-md-6" id="timedate">
  <img src="assets/startMenuImage.png" class="img-responsive" alt="Start Menu Img">
  <div class="external-author">
    <p>Developed by Andrea Calvo Moreno</p>
    <a href="https://www.linkedin.com/in/andrea-calvo-moreno-63a71b115/">LinkedIn - </a>
    <a href="https://github.com/acalvom/">GitHub</a>
  </div>
</div>
