<section>
  <form>
    <fieldset>
      <legend><strong>Log In</strong><br></legend>

      <div class="form-group row">
        <label for="username" class="col-md-2 col-md-offset-2 col-form-label">User: </label>
        <input type="text" class="col-md-2 form-control" id="username" [(ngModel)]="username"
               name="username"
               required placeholder="User">
      </div>

      <div class="form-group row">
        <label for="password" class="col-md-2 col-md-offset-2 col-form-label">Password: </label>
        <input type="password" class="col-md-2 form-control" id="password"
               [(ngModel)]="password" name="password"
               required placeholder="Password">

      </div>


      <ng-container *ngIf="errorMsg">
        Incorrect password.
      </ng-container>
      <br>
      <div class="form-group row">
        <div class="col-md-10 offset-md-2">
          <button id='btn_login' type="button" class="btn btn-primary"
                  (click)='loginUser()'>Log In!
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</section>
