<div id='game'>
  <div id="game-info" class="col-md-2">
    <div class="col-md-12 mainColumn">

      <div id='cards' class="row">
        <div class="col-md-12 column"><strong>Matched Cards</strong> <br/>
          <input type='text' id='matchedCards' name='matchedCards' size="6" readonly>
        </div>
      </div>

      <div id='time' class="row">
        <div class="col-md-12 column"><strong>Remaining Time</strong> <br/>
          <input type='text' id='remainingTime' name='remainingTime' size="6" readonly>
        </div>
      </div>

      <div id='score' class="row">
        <div class="col-md-12 column"><strong>Current Score</strong> <br>
          <input type='text' id='current_score' name='current_score' size="6" readonly>
        </div>
      </div>

      <div class="external-author">
        <a href="https://www.zedge.net/ringtones-and-wallpapers/">Images from Zedge </a><br><br>
      </div>

      <div class="col-md-10 offset-md-2">
        <button id='btn_start' type='button' value="Start Game" class="btn btn-primary"
                (click)='readPreferences()'>Start Game</button>
      </div><br>

    </div>


  </div>



  <div id='board' class="col-md-7 col-md-offset-2"></div>
</div>
