div#board {
  background-color: rgb(240, 241, 168);
  width: 80%;
  height: 80vh;
  padding: 24px;
  margin: 0 auto;
  align-content: center;
}

div#board > img {
  padding: 3px;
  width: 80px;
  height: 140px;
  float: left;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
}

#matchedCards,
#remainingTime,
#currentScore {
  font: small-caps lighter 20px/150% "Segoe UI", Frutiger, "Frutiger Linotype",
  "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  background-color: rgb(240, 241, 168);
  text-align: center;
  border: transparent;
}

.mainColumn {
  width: auto;
  font: small-caps lighter 18px/150% "Segoe UI", Frutiger, "Frutiger Linotype",
  "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align: center;

}

.column {
  font: small-caps lighter 18px/150% "Segoe UI", Frutiger, "Frutiger Linotype",
  "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  background-color: rgb(240, 241, 168);
  padding: 14px;
}


