<div id='game'>
  <div id="game-info" class="col-md-2">
    <div class="col-md-12 mainColumn">

      <div id='cards' class="row">
        <div class="col-md-12 column"><strong>Matched Cards</strong> <br/>
          <input type='text' id='matchedCards' [(ngModel)]="matchedCards"
                 name='matchedCards' size="6" readonly>
        </div>
      </div>

      <div id='time' class="row">
        <div class="col-md-12 column"><strong>Remaining Time</strong> <br/>
          <input type='text' id='remainingTime' [(ngModel)]="remainingTime" name='remainingTime' size="6" readonly>
        </div>
      </div>

      <div id='score' class="row">
        <div class="col-md-12 column"><strong>Current Score</strong> <br>
          <input type='text' id='currentScore' [(ngModel)]="currentScore" name='currentScore' size="6" readonly>
        </div>
      </div>

      <div class="external-author">
        <a href="https://www.zedge.net/ringtones-and-wallpapers/">Images from Zedge </a><br><br>
      </div>

      <div class="col-md-10 offset-md-2">
        <button *ngIf="loggedUser" id='btn_start' type='button' [disabled]="gameStatus != 200" value="Start Game"
                class="btn btn-primary"
                (click)='saveScore()'>Save Score
        </button>
      </div>
      <br>

    </div>

  </div>


  <div class="form-group row">
    <ng-container [ngSwitch]="gameStatus" class="col-md-2 col-md-offset-2">
      <div *ngSwitchCase="100" id='board' class="col-md-7 col-md-offset-2">
        <ng-container *ngFor="let card of cardList; let i = index">
          <img src="{{card.shown}}" id='{{card.cardId}}' (click)='flipCard(card)'/>
        </ng-container>
      </div>

      <div *ngSwitchCase="200" class="col-md-7 ">
        <div id="win">

          <div class="gameover">
            <p> YOU </p>
            <p> WIN </p>
          </div>

          <div class="continue"><p> NEW GAME? </p></div>
          <div class="opcoes">
            <div class="yes"><p (click)='newGame()'> YES </p></div>
            <div class="no"><p (click)='exitGame()'> NO </p></div>
            <div class="external-author">
              <a href="https://codepen.io/leo_fantinati">Original design @leo_fantinati </a><br><br>
            </div>
          </div>

        </div>
      </div>

      <div *ngSwitchCase="400" class="col-md-7 ">
        <div id="loose">

          <div class="gameover">
            <p> GAME </p>
            <p> OVER </p>
          </div>

          <div class="continue"><p> NEW GAME? </p></div>
          <div class="opcoes">
            <div class="yes"><p (click)='newGame()'> YES </p></div>
            <div class="no"><p (click)='exitGame()'> NO </p></div>
            <div class="external-author">
              <a href="https://codepen.io/leo_fantinati">Original design @leo_fantinati </a><br><br>
            </div>
          </div>
        </div>
      </div>

    </ng-container>
  </div>

</div>

